/*Written by Syed, Ethan, Talha, Luke, and Aqeel || P2652259|| Syed/No3Mc(https://github.com/No3Mc),  P2596393 || Ethan/Frizzle15(https://github.com/Frizzle15), P2629099 || Talha(https://github.com/Talhamemon25), P2606530 || Luke/LLydiatt(https://github.com/LLydiatt)and Aqeel(https://github.com/AqeelAhmed12))
Stock Management by Syed Naqvi
Staff Management by Luke Lydiatt
Phones Management by Ethan Frizzell
Customer Management by Mahammad Talha
Supplier management by Aqeel Ahmed	


Repository Link : https://github.com/No3Mc/PMAD-Phone-Selling-Store*/



body {
}

.auto-style2 {
    height: 170px;
}

.auto-style3 {
    height: 33px;
}

.auto-style4 {
    width: 1001px;
    height: 155px;
}

.auto-style5 {
    width: 129px;
}

.auto-style6 {
    width: 55px;
}

.auto-style7 {
    width: 815px;
    height: 406px;
}

