body {
}

.auto-style2 {
    height: 170px;
}

.auto-style3 {
    height: 33px;
}

.auto-style4 {
    width: 1001px;
    height: 155px;
}

.auto-style5 {
    width: 129px;
}

.auto-style6 {
    width: 55px;
}

.auto-style7 {
    width: 815px;
    height: 406px;
}

