/*Written by Syed || P2652259 || No3Mc(https://github.com/No3Mc)
Repository Link : https://github.com/No3Mc/PMAD-Phone-Selling-Store*/




body {
}
.moveable {
    position: absolute;
}


/*textboxes*/

.txtStockname {
    position: absolute;
    left: 734px;
    top: 119px;
}

.txtStockID {
    position: absolute;
    left: 735px;
    top: 73px;
}

.txtLocation {
    position: absolute;
    left: 734px;
    top: 198px;
}

.txtQuantity {
    position: absolute;
    left: 732px;
    top: 237px;
}

.txtWarehouseNo {
    position: absolute;
    left: 734px;
    top: 159px;
}

.txtBarcode {
    position: absolute;
    left: 732px;
    top: 278px;
}




/*lists*/

.lblStockID {
    position: absolute;
    left: 587px;
    top: 76px;
    right: 1162px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}
.lblStockName {
    position: absolute;
    left: 574px;
    top: 114px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}
.lblWarehouseNo {
    position: absolute;
    left: 564px;
    top: 152px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}
.lblLocation {
    position: absolute;
    left: 590px;
    top: 192px;
    right: 1159px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}
.lblQuantity {
    position: absolute;
    left: 592px;
    top: 231px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}
.lblBarcode {
    position: absolute;
    left: 592px;
    top: 271px;
    margin-top: 3px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}

/*label error*/

.lblError {
    position: absolute;
    left: 934px;
    top: 232px;
    border-radius: 16px;
    text-align: center;
    background-color: wheat;
    text-shadow: 1px 1px;
}


/*buttons*/

.btnCancel {
    position: absolute;
    left: 930px;
    top: 149px;
}
.btnOK {
    position: absolute;
    left: 788px;
    top: 320px;
}
.btnFind {
    position: absolute;
    left: 728px;
    top: 320px;
}



/*list*/

.lstStocks {
    position: absolute;
    left: 240px;
    top: 69px;
    width: 303px;
    height: 284px;
}









