body {
    margin:0;
    padding:0;
}
section {
    width: 100vw;
    height: 100vh;
    background-image: url("~/Images/Backgrounds/Stock/24246.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}