body {
    margin:0;
    padding:0;
}
section {
    width: 100vw;
    height: 100vh;
    background-image: url("~/Images/Backgrounds/Stock/1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
}



.auto-style5 {
    width: 222px;
}
.labels {
    width: 270px;
    Height: 200px;

}




