/*Written by Syed || P2652259 || No3Mc(https://github.com/No3Mc)
Repository Link : https://github.com/No3Mc/PMAD-Phone-Selling-Store*/




body {
}
.moveable {
    position: absolute;
}


.table {
    position: absolute;
    left: 450px;
    top: 5px;
    width: 660px;
    height: 400px;
}

.labels {
    position: absolute;
    Height: 34px;
    Width: 369px;
}

.textboxes {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
}

.buttons {
    position: absolute;
    border-block-color: #990000;
    color: Red;
    Width: 185px;
}

.lblError {
    position: absolute;
    background-color: Red;
    border-color: Red;
    border-style: Solid;
    Font: Goudy Old Style;
    Width: 367px;
}




/*Error Labels*/

.lblStockError {
    position: absolute;
    left: 690px;
    top: 60px;
}

.LabelBarcodeError {
    position: absolute;
    left: 692px;
    top: 288px;
}

.lblQuantityError {
    position: absolute;
    left: 691px;
    top: 231px;
    bottom: 147px;
}


.lblLocationError {
    position: absolute;
    left: 690px;
    bottom: 205px;
}


.lblWarehouseError {
    position: absolute;
    left: 689px;
    top: 117px;
    bottom: 261px;
}







.lblError {
    position: absolute;
    background-color: Red;
    border-color: Red;
    border-style: Solid;
    Width: 542px;
    left: 856px;
    top: 110px;
    height: 92px;
}






.lblStockName {
    position: absolute;
    left: 302px;
    top: 111px;
    bottom: 655px;
}

.lblLocation {
    position: absolute;
    left: 303px;
    top: 173px;
}

.lblWarehouseNo {
    position: absolute;
    left: 284px;
    top: 370px;
}

.lblQuantity {
    position: absolute;
    left: 307px;
    top: 234px;
}

.lblBarcode {
    position: absolute;
    left: 307px;
    top: 297px;
}





.txtStockName {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
    left: 455px;
    top: 110px;
}

.txtLocation {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
    left: 456px;
    top: 172px;
}

.txtBarcode {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
    left: 458px;
    top: 298px;
}

.txtWarehouseNo {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
    left: 458px;
    top: 369px;
}



.txtQuantity {
    position: absolute;
    Height: 34px;
    Width: 369px;
    border-block-color: Blue;
    left: 456px;
    top: 237px;
}






.btnOK {
    position: absolute;
    border-block-color: #990000;
    color: Red;
    Width: 185px;
    left: 452px;
    top: 438px;
}

.btnCancel {
    position: absolute;
    border-block-color: #990000;
    color: Red;
    Width: 185px;
    left: 647px;
    top: 438px;
}

.HyperLinkCancel {
    position: absolute;
    left: 858px;
    top: 237px;
}

